.outer{
    width: 100%;
    height: 100vh;

    .inner{
        width: 100%;
        height: 100%;
        background-color: rgb(228, 228, 228);



.form-out{
    height: calc(100% - 50px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: red;

    .form-inn{

        width: 40%;
        height: 50%;
        padding: 5px 10px;
       // background-color: green;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px rgb(228, 228, 228);
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: #fff;
        
        .example-form {
            min-width: 150px;
            max-width: 700px;
            width: 100%;
            display: flex;
            // flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
          }
          
          .example-full-width {
            width: 100%;
          }


          .mrgn-l75{
            margin-left: 60%;
          }
          .mrgn-l2{
            margin-left: 2%;
          }
    }

    
}


    }

}