<div class="outer">
    <div class="inner">


        <div class="form-out">
            <div class="form-inn">
            <form >
              <div class="example-form">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Favorite food</mat-label>
                  <input matInput placeholder="Ex. Pizza" >
                </mat-form-field>
  
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Leave a comment</mat-label>
                    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                  </mat-form-field>
                
              </div>
  
              <button mat-raised-button color="primary" type="submit" class="mrgn-l75">Submit</button>
              <button mat-raised-button color="accent" class="mrgn-l2">Cancel</button>
            </form>
          </div>
            
          </div>

    </div>
</div>